{% extends 'backend/includes/header.html' %}

{% block content %}

	<div class="container">
	  <h1> {{ customer.cname }} </h1>
	  <div class="row">
	  	<div class="col-4">
			<table class="table table-sm">
			  <tbody>
			    <tr>
			      <td style="width:40%"">CID</td>
			      <td style="width:60%"">{{ customer.cid }}</td>
			    </tr>
			    <tr>
			      <td>Address</td>
			      <td>{{ customer.caddr }}</td>
			    </tr>
			    <tr>
			      <td>Phone</td>
			      <td>{{ customer.cphone }}</td>
			    </tr>
			    <tr>
			      <td>Wechat</td>
			      <td>{{ customer.cwechat }}</td>
			    </tr>
			    <tr>
			      <td>Join Date</td>
			      <td>{{ customer.cdate|date:"m/d/Y" }}</td>
			    </tr>			    			    
			    <tr>
			      <td>Note</td>
			      <td>{{ customer.cnote }}</td>
			    </tr>			    			    
			  </tbody>
			</table>
		</div>
		<div class="col-8"></div>
	  </div>
	</div>
    
	<div class="container">
		<a href="#updateCustomer" data-toggle="collapse" class="btn btn-primary" role="button">Update Customer</a>
		<hr>
	</div>

	<div class="container collapse ml-4 mb-4" id="updateCustomer">
	<form action='{% url 'backend:updatecustomer' %}' method="post">
		{% csrf_token %}
		<input type="hidden" name="cid" value={{ customer.cid }}>
		<div class="form-group">
			<label>Name</label>
			<input type="text" class="form-control" name="name" value={{ customer.cname }}>
		</div>
		<div class="form-group">
			<label>Address</label>
			<input type="text" class="form-control" name="address" value={{ customer.caddr }}>
		</div>
		<div class="form-row">
		    <div class="form-group col-md-6">
			<label>Phone</label>
			<input type="text" class="form-control" name="phone" value={{ customer.cphone }}>
		    </div>
		    <div class="form-group col-md-6">
			<label>Wechat</label>
			<input type="text" class="form-control" name="wechat" value={{ customer.cwechat }}>
		    </div>
		</div>
		<div class="form-group">
			<label>Note</label>
			<input type="text" class="form-control" name="note" value={{ customer.cnote }}>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	<hr>
	</div>
	

	<div class="container">
		<div class="row justify-content-start">
			<div class="col">
				<table class="table table-striped table-hover">
					<thead class="thead-dark">
					<tr>
						<th style="width:20%;">OrderID</th>
						<th style="width:20%;">Order Date</th>
						<th style="width:20%;">Ship Date</th>
						<th style="width:5%;">Paid</th>
						<th style="width:10%;">Total</th>
						<th style="width:5%;">Shipping Fee</th>
						<th style="width:10%;">Payment Method</th>
						<th style="width:10%;">Status</th>
					</tr>
					</thead>
					{% for o in orders %}
					<tr onclick="window.location='{% url 'backend:order_detail' o.oid %}';">
						<td><a href="{% url 'backend:order_detail' o.oid %}">{{ o.oid }}</a></td>
						<td>{{ o.odate|date:"m/d/Y H:i" }}</td>
						<td>{{ o.oshipdate|date:"m/d/Y H:i" }}</td>
						{% if o.opaid == 0 %}
							<td>No</td>
						{% else %}
							<td>Yes</td>
						{% endif %}
						<td>{{ o.ototal }}</td>
						<td>{{ o.oshipping }}</td>
						<td>{{ o.opaymentmethod }}</td>
						<td>{{ o.ostatus }}</td>
					</tr>	
					{% endfor %}
				</table>

			</div>
		</div>
	</div>

{% endblock %}

