{% extends 'backend/includes/header.html' %}

{% block content %}
	<div class="container">
		<h1>Orders</h1>
	</div>

	<div class="container">
		<a href="/newshoppingcart" class="btn btn-primary" role="button">Create Order</a>
		<hr>
	</div>

	<div class="container">

		<ul class="nav nav-tabs" id="myTab" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="home" aria-selected="true">Pending</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="home-tab" data-toggle="tab" href="#paid" role="tab" aria-controls="home" aria-selected="true">Paid</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#shipped" role="tab" aria-controls="profile" aria-selected="false">Shipped</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#completed" role="tab" aria-controls="contact" aria-selected="false">Completed</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#all" role="tab" aria-controls="contact" aria-selected="false">All</a>
		  </li>
		</ul>
		<div class="tab-content" id="myTabContent">
		  <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="home-tab">
			{% if pendingorder %}
				<div class="row">
					<div class="col">
						<table class="table table-striped table-hover">
							<thead class="thead-dark">
							<tr>
								<th style="width:15%;">Customer</th>
								<th style="width:25%;">OID</th>
								<th style="width:30%;">Order Date</th>
								<th style="width:10%;">Paid</th>
								<th style="width:20%;">Status</th>
							</tr>
							</thead>
							{% for po in pendingorder %}
							<tr onclick="window.location='{% url 'backend:order_detail' po.oid %}';">
								<td> {{ po.cname }} </td>
								<td> {{ po.oid }} </td>
								<td> {{ po.odate }} </td>
								{% if o.opaid == 0 %}
									<td>No</td>
								{% else %}
									<td>Yes</td>
								{% endif %}
								<td> {{ po.ostatus }} </td>
							</tr>	
							{% endfor %}
						</table>
					</div>
				</div>
			{% else %}
			    <p>No orders are available.</p>
			{% endif %}
		  </div>
		  <div class="tab-pane fade" id="paid" role="tabpanel" aria-labelledby="profile-tab">
			{% if paidorder %}
				<div class="row">
					<div class="col">
						<table class="table table-striped table-hover">
							<thead class="thead-dark">
							<tr>
								<th style="width:15%;">Customer</th>
								<th style="width:25%;">OID</th>
								<th style="width:30%;">Order Date</th>
								<th style="width:10%;">Paid</th>
								<th style="width:20%;">Status</th>
							</tr>
							</thead>
							{% for po in paidorder %}
							<tr onclick="window.location='{% url 'backend:order_detail' po.oid %}';">
								<td> {{ po.cname }} </td>
								<td> {{ po.oid }} </td>
								<td> {{ po.odate }} </td>
								{% if po.opaid == 0 %}
									<td>No</td>
								{% else %}
									<td>Yes</td>
								{% endif %}
								<td> {{ po.ostatus }} </td>
							</tr>	
							{% endfor %}
						</table>
					</div>
				</div>
			{% else %}
			    <p>No orders are available.</p>
			{% endif %}
		  </div>
		  <div class="tab-pane fade" id="shipped" role="tabpanel" aria-labelledby="profile-tab">
			{% if shippedorder %}
				<div class="row">
					<div class="col">
						<table class="table table-striped table-hover">
							<thead class="thead-dark">
							<tr>
								<th style="width:15%;">Customer</th>
								<th style="width:25%;">OID</th>
								<th style="width:30%;">Order Date</th>
								<th style="width:10%;">Paid</th>
								<th style="width:20%;">Status</th>
							</tr>
							</thead>
							{% for so in shippedorder %}
							<tr onclick="window.location='{% url 'backend:order_detail' so.oid %}';">
								<td> {{ so.cname }} </td>
								<td> {{ so.oid }} </td>
								<td> {{ so.odate }} </td>
								{% if so.opaid == 0 %}
									<td>No</td>
								{% else %}
									<td>Yes</td>
								{% endif %}
								<td> {{ so.ostatus }} </td>
							</tr>	
							{% endfor %}
						</table>
					</div>
				</div>
			{% else %}
			    <p>No orders are available.</p>
			{% endif %}
		  </div>
		  <div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="contact-tab">
			{% if completedorder %}
				<div class="row">
					<div class="col">
						<table class="table table-striped table-hover">
							<thead class="thead-dark">
							<tr>
								<th style="width:15%;">Customer</th>
								<th style="width:25%;">OID</th>
								<th style="width:30%;">Order Date</th>
								<th style="width:10%;">Paid</th>
								<th style="width:20%;">Status</th>
							</tr>
							</thead>
							{% for co in completedorder %}
							<tr onclick="window.location='{% url 'backend:order_detail' co.oid %}';">
								<td> {{ co.cname }} </td>
								<td> {{ co.oid }} </td>
								<td> {{ co.odate }} </td>
								{% if co.opaid == 0 %}
									<td>No</td>
								{% else %}
									<td>Yes</td>
								{% endif %}
								<td> {{ co.ostatus }} </td>
							</tr>	
							{% endfor %}
						</table>
					</div>
				</div>
			{% else %}
			    <p>No orders are available.</p>
			{% endif %}
		  </div>
		  <div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="contact-tab">
			{% if order %}
				<div class="row">
					<div class="col">
						<table class="table table-striped table-hover">
							<thead class="thead-dark">
							<tr>
								<th style="width:15%;">Customer</th>
								<th style="width:25%;">OID</th>
								<th style="width:30%;">Order Date</th>
								<th style="width:10%;">Paid</th>
								<th style="width:20%;">Status</th>
							</tr>
							</thead>
							{% for o in order %}
							<tr onclick="window.location='{% url 'backend:order_detail' o.oid %}';">
								<td> {{ o.cname }} </td>
								<td> {{ o.oid }} </td>
								<td> {{ o.odate }} </td>
								{% if o.opaid == 0 %}
									<td>No</td>
								{% else %}
									<td>Yes</td>
								{% endif %}
								<td> {{ o.ostatus }} </td>
							</tr>	
							{% endfor %}
						</table>
					</div>
				</div>
			{% else %}
			    <p>No orders are available.</p>
			{% endif %}
			</div>
		  </div>
		</div>





{% endblock %}
