{% extends 'backend/includes/header.html' %}

{% block content %}
	<div class="container">
    	<h1>Product List</h1>		
	</div>

	<div class="container">
		<div class="row">
			<div class="col-4">
				<div class="list-group">
				  <a href="#" class="list-group-item list-group-item-action list-group-item-info">
				  Food
				  </a>

					{% if product %}
						{% for p in product %}
						<a href="{% url 'backend:product_detail' p.pid %}" class="list-group-item list-group-item-action">{{ p.pname }}</a>	
						{% endfor %}
					</table>

					{% else %}
					    <p>No products are available.</p>
					{% endif %}

				</div>
			</div>

			<div class="col-4">
				<div class="list-group">
				  <a href="#" class="list-group-item list-group-item-action list-group-item-info">
				  Health
				  </a>
					{% if healthproduct %}
						{% for hp in healthproduct %}
						<a href="{% url 'backend:product_detail' hp.pid %}" class="list-group-item list-group-item-action">{{ hp.pname }}</a>	
						{% endfor %}
					</table>

					{% else %}
					    <li class="list-group-item">No products are available.</li>
					{% endif %}
				</div>
			</div>

		    <div class="col-4">
				<div class="list-group">
				  <a href="#" class="list-group-item list-group-item-action list-group-item-info">
				  Book
				  </a>
				  <li class="list-group-item">No products are available.</li>

				</div>
			</div>
		</div>
	</div>

{% endblock %}
